%h1 Main Page

.row
  = link_to 'Member Account Application', 'maapps/new'
.row
  = link_to 'Unsecured Loan Application', 'alapps/new'
.row
  = link_to 'Auto Loan Application', 'ulapps/new'
.row
  = link_to 'Credit Builder Program Application', 'cbpapps/new'