.panel.panel-default
  .panel-heading
    %h1.panel-title.text-center Unsecured Loan Application
  .panel-body
    - @alapp.attributes.each do |attr|
      %p
        %b
          = attributes_string_translator[attr[0]] + ": "
        = attr[1]

