<!DOCTYPE html>
<html>
<head>
  <title>SFCUProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
      label{font-weight:normal !important}
  </style>
</head>
<body>
<div class="container" style="width:70%;margin-right:auto;margin-left:auto">
  <%= yield %>
</div>
</body>
</html>
